@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background-color: white !important;
  }
  @page {
    margin: 1cm;
  }
}
